<p>affecter works!</p>
<div class="container pt-5">
  
    <div class="card">
        <div class="alert " *ngIf="isupdated" role="alert">
            <b>{{confirmation}}</b>
        </div>
        <h2 class="col-md-6 offset-5">Editer Marketplace</h2>
        <div class="card-body">
  
            <button class="myButton" routerLink="/ordrs"><i class="large material-icons">chevron_left</i>Back </button>
    
          <form [formGroup]="editExam">
            
              <div class="form-group pb-3">
                <label >ASSIGNEMENT </label>
                <select type="text" class="form-control" formControlName="assignement" id="exampleInputPassword1" placeholder="Name Phone">
                    <option value="">--Please choose an option--</option>
    <option value="dog">Aramx</option>
    <option value="cat">Colis plus</option>
    <option value="hamster">aramex</option>
    <option value="parrot">tuniscolie</option>
    <option value="spider">Sste de livraion</option>
    
                </select>
              </div>
              
              <input type="button" class="myButton2" (click)="update()" value="Editer">
  
            </form>
         
      </div>
      </div>
      </div>