

 
  
<nav class="main-menu">
    <ul>
           <li class="has-subnav">
               <img src="../../assets/images/avatar.png" width="50px" height="70px">
              <h1>Marketplace</h1>
           </li>
           <li class="has-subnav">
               <a [routerLink]="['/orders']">
                   <i class="fa fa-home fa-2x"></i>
                   <span class="nav-text">
                       ordrs
                   </span>
               </a>
             
           </li>
    
           
       </ul>
   </nav>

