@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    font-family: 'Poppins', sans-serif;
  }
  
  #chart {
     
    max-width: 900px;
      margin-left: 595px;
     margin-top: 200px;
    opacity: 0.9;
  }
  
  #timeline-chart .apexcharts-toolbar {
    opacity: 0;
    border: 1;
  }
  #text{
    box-shadow: 2px 6px 6px 3px rgba(39, 22, 22, 0.2), 2px 6px 6px 3px rgba(13, 22, 26, 0.19);
    color: #222;
    font-family:  Arial, sans-serif;
    height: 70vmin;
    left: 25%;
 
    position: absolute;
    top: 15%;
      font-size: 28px;
      position:auto;
      padding: 20px 30px 25px 25px;
      margin-left: 50px;
      font-weight: bold;

  }
 