body {
    overflow-x: scroll;
  }
  .avatar{
		background:rgba(0,0,0,0.1);
		padding:2em 0.5em;
		text-align:center;
  }
  
  
  
    h2:hover{
      color: sienna;
    }
  
	.img{
			width:100px;
			border-radius:50%;
			overflow:hidden;
			border:4px solid ;
			box-shadow:0 0 0 4px rgba(255,255,255,0.2);
		}
  #wrapper{
    background-color: rgb(199, 201, 188);
  }
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -20rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 2rem;
   
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
    border-radius: 8px;

  }
  
  #page-content-wrapper {
    min-width: 100%;
    
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
    padding: 10px 10px 10px;
    border-radius: 5px;
   
  }
  
  @media (min-width: 868px) {
    #sidebar-wrapper {
      margin-left: 0;
      font-size: 16px;
      padding: 10px 10px 10px;
    }
  
    #page-content-wrapper {
      min-width: 20px;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  .bg-light {
    background-color: rgb(131, 192, 250);
}

#navbarSupportedContent{
    position: left;
    
}
#menu-toggle{
    background-color: rgb(143, 200, 253);
    font-size: 20px;
    width: 100px;
    height: 80px;
    
}
.material-icons{
    size: 30px;}