
<span>
<app-header></app-header>
</span>

<app-sidebar></app-sidebar>

    <!-- Sidebar
    <div class="bg-light border-right" id="sidebar-wrapper">
      <header class="avatar">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
        <h2>Espace adminstrateur</h2>
      </header>
      <div class="sidebar-heading">Menu</div>
      <div class="list-group list-group-flush">
      

        <a [routerLink]="['/dashborad']" class="list-group-item list-group-item-action bg-light"><i class="material-icons">menu</i>Dashboard</a>
        <a [routerLink]="['/exam']" class="list-group-item list-group-item-action bg-light"><i class="material-icons">store</i>Marketplace</a>
        <a [routerLink]="['/deliverycompany']" class="list-group-item list-group-item-action bg-light"><i class="material-icons">local_shipping</i>Delivery Company</a>
        <a [routerLink]="['/affectation']" class="list-group-item list-group-item-action bg-light"><i class="material-icons">assignment_turned_in</i>Affectation</a>
        <a [routerLink]="['/ordrs']" class="list-group-item list-group-item-action bg-light"><i class="material-icons">local_grocery_store</i>ordrs</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="material-icons">credit_card</i>facture</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <!-- <div id="page-content-wrapper"> 
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button  id="menu-toggle"><i class="material-icons">format_list_bulleted</i></button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <!-- <div class="dropdown-divider"></div> -->
                <!-- <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>   --> -->
      
     
        <router-outlet></router-outlet>
 
      <app-footer ></app-footer>
    
    <!-- /#page-content-wrapper -->
    
  
  <!-- /#wrapper -->

        
